/*.suo
/*.vsmdi
bin
obj
*.user
/TestResults/*

packages/*
!packages/*.dll
!packages/*.pdb
!packages/*.exe
!packages/*/*.dll
!packages/*/*.pdb
!packages/*/*.exe
!packages/*/*/*.dll
!packages/*/*/*.pdb
!packages/*/*/*.exe
!packages/*/*/*/*.dll
!packages/*/*/*/*.pdb
!packages/*/*/*/*.exe
!packages/*/*/*/*/*.dll
!packages/*/*/*/*/*.pdb
!packages/*/*/*/*/*.exe


/us.stackdump

*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject

ApplicationInsightsLog.txt
*ApplicationInsightsLog.txt
DeploymentPackages

